*{
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
}

body{
    background-color: white;
}

.nav{
    display: flex;
    justify-content: space-between;
    width: 100vw;
    padding: 30px 100px;
    box-sizing: border-box;
}

.nav ul{
    display: flex;
    flex-direction: row;
    gap: 30px;
    list-style-type: none;
}

.nav ul li a{
    text-decoration: none;
    color: black;
}

.start{
    width: 90px;
    height: 35px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    background-color: rgb(121, 13, 13);
}

.start a{
    text-decoration: none;
    color: white;
}

.page1{
    background-image: url(../img/lesehan.jpg.webp);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.main1{
    box-sizing: border-box;
    margin-left: 100px;
    color: white;
    padding-bottom: 80px;
}

.page1 h3{
    padding-top: 100px;
    padding-bottom: 20px;
}

.page1 p{
    margin-top: 30px;    
}

.contact{
    width: 100px;
    height: 35px;
    background-color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    margin-top: 30px;
    margin-bottom: 100px;
}

.contact a{
    text-decoration: none;
    color: black;
    padding: auto;
}

.nav2{
    width: 100%;
    /* height: 50px; */
    display: flex;
    flex-direction: column;
    align-items: center;
    box-sizing: border-box;
    justify-content: center;
    /* margin-top: 100px; */
}

.nav2 h3{
    color: rgb(121, 13, 13);
}

#garis{
    color: rgb(121, 13, 13);
}

.main2{
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.satu{
    box-sizing: border-box;
    margin-right: 100px;
    margin-left: 200px;
    width: 50%;
}

.dua{
    width: 50%;
}

img{
    width: 600px;
    height: 500px;
}

.dua ul{
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.dua ul li{
    font-size: 40px;
}

#kopi{
    text-align: center;
    font-size: 20px;
}
.main3{
    background-image: url(../img/tempat_makan_lesehan_di_jakarta_05_a92e30c809.webp);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.page2{
    width: 400px;
    margin-left: 100px;
    padding-top: 100px;
    padding-bottom: 100px;
    
}

.main3 h3,h1,p{
    color: white
}

.main3 .start{
    margin-top: 30px;
}

.footer {
    width: 100%;
    height: 80px;
    align-items: center;
    justify-content: center;
    display: flex;
    color: black;
}